<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %> 
    <div class="container-fuid">
    <div id="carouselExample" class="carousel slide mx-auto mt-3 w-50">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/">
            <img
              src="./images/135-1.jpg"
              class="d-block rounded w-100 img-carusel-w"
              alt="135-img"
          /></a>
        </div>
        <div class="carousel-item">
          <a href="/">
          <img
            src="./images/gtc-1.jpg"
            class="d-block rounded w-100 img-carusel-w"
            alt="gtc-img"
          />
        </div></a>
        <div class="carousel-item">
          <a href="/">
          <img
            src="./images/q8-1.jpg"
            class="d-block rounded w-100 img-carusel-w"
            alt="q8-img"
          /></a>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </div><%- include('./partials/footer') %>
  </body>
</html>
